.profile-container{
    border: 2px solid #000;
    padding: 5px;
    padding-bottom: 50px;
}

.profile-title{
    font-size: 40px;
}

.profile-details{
    padding: 6px;
    background-color: #33ff89;
    border-radius: 4px;
    margin: 4px;
}
.float-right{
    float:right
}
.edit-button{
    padding: 6px;
    background-color: #f03;
    cursor: pointer;
    /* float: right */
}



